<div class="row m-0 justify-content-center">
    <div class="col p-2">
      <div class="cuadrado centrar flex-column">
        <div class="titulo w-100 d-flex justify-content-between">
          <div>
            <h4><u>Proyectos</u></h4>
          </div>
          <div>
            <a href="#">
              <div class="btn-edit boton-hover">
              <i class="bi bi-plus-lg"></i>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-6 p-2">
            <div class="borde">
              <a href="#">
                <h5>Proyecto Asistencia QR</h5>
              </a>
              <p>Utilizamos una base de datos de <a href="">spreadsheets</a> y creamos un script de GS que pase a una lista de asistencia los datos de los alumnos que escaneen su QR auto-generado.</p>
            </div>
          </div>
          <div class="col col-lg-6 p-2">
            <div class="borde">
              <a href="#">
                <h5>Lorem ipsum</h5>
              </a>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quaerat iste atque molestias aut asperiores expedita libero fuga rerum maxime est sapiente quos culpa labore earum deleniti sequi minima illum, corporis, officiis sed amet, pariatur cumque? In tenetur deserunt quae illum velit, minus ex repellendus itaque iure, animi quas ducimus!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>