<div class="row m-0 justify-content-center">
    <div class="col-lg-12 p-2">
      <div class="cuadrado d-flex flex-column align-items-center">
        <div class="contenido w-100">
          <div class="titulo d-flex justify-content-between">
            <div>
              <h4><u>Hard & Soft Skills</u></h4>
            </div>
            <div>
              <a href="#">
                <div class="btn-edit boton-hover">
                <i class="bi bi-plus-lg"></i>
                </div>
              </a>
            </div>
          </div>

          <div class="w-100">
            <p>Desarrollo front-end</p>
            <div class="progress mb-4">
              <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
            </div>
  
            <p>Desarrollo back-end</p>
            <div class="progress mb-4">
              <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 30%"></div>
            </div>

            <p>Inglés</p>
            <div class="progress mb-4">
              <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
            </div>

            <p>Portugués</p>
            <div class="progress mb-4">
               <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style]="skills[1].percentage"></div> <!--40% -->
            </div>

            <p>Fast learning</p>
            <div class="progress mb-4">
              <div class="progress-bar progress-bar-striped bg-primary progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>

            <p>Time management</p>
            <div class="progress mb-4">
              <div class="progress-bar progress-bar-striped bg-primary progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
            </div>

            <p>Team work</p>
            <div class="progress mb-4">
              <div class="progress-bar progress-bar-striped bg-primary progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
            </div>
            
          </div>
        </div>
      </div> <!-- cierra cuadrado -->
    </div>
  </div>